doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Custom Map
    meta(name='description', content='Control options and customization of the Google Maps colors.')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='dist/styles/main.css')
    meta(property='og:title', content='Custom Map')
    meta(property='og:description', content='Control options and customization of the Google Maps colors')
    meta(property='og:url', content='http://jeffersondanielss.github.io/cMap/')
    meta(property='og:image', content='http://jeffersondanielss.github.io/cMap/app/images/cMap-facebook.png')
    link(rel="icon", href="app/images/favicon.ico")

  body
    header.header
      #example.header__map

    section.get-started
      div.wrapper
        h2.get-started__title custom map
        p.get-started__subtitle To customize your map just follow these four steps.

        ul.get-started__content

          li.content__steps
            h2.content__steps-title 1. Install
            code.command
              xmp
                | yarn add cmaps

          li.content__steps
            h2.content__steps-title 2. Include scripts
            code.command
              xmp
                <script src="node_modules/cmaps/dist/cMaps.min.js"></script>

          li.content__steps
            h2.content__steps-title 3. Include a basic markup HTML map
            code.command
              xmp
                #example

          li.content__steps
            h2.content__steps-title 4. start the plugin
            code.command
              xmp var example = new cMaps({ options });
            
    footer.footer
      a.footer__link(href="https://github.com/jeffersondanielss/cMaps/blob/master/README.md", target="_blank") Usage
      span |
      a.footer__link(href="https://github.com/jeffersondanielss/cMaps", target="_blank") Fork it!

    script(src='dist/scripts/all.min.js')
