doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Custom Map
    meta(name='description', content='Control options and customization of the Google Maps colors.')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='dist/styles/main.css')
    meta(property='og:title', content='Custom Map')
    meta(property='og:description', content='Control options and customization of the Google Maps colors')
    meta(property='og:url', content='http://jeffersondanielss.github.io/cMap/')
    meta(property='og:image', content='http://jeffersondanielss.github.io/cMap/app/images/cMap-facebook.png')
    link(rel="icon", href="app/images/favicon.ico")

  body
    header.header
      a.footer__link(href="https://github.com/jeffersondanielss/cMap/blob/master/README.md", target="_blank") Usage
      span |
      a.footer__link(href="https://github.com/jeffersondanielss/cMap", target="_blank") Fork it!
    

    section.section.section--left.clearfix
      div.wrapper
        div.section__map
          #example.box__map

        div.section__text
          h2.section__title map Controls
          p.section__description To customize your map just follow these four steps.

    section.section.section--right.clearfix
      div.wrapper
        div.section__text
          h2.section__title draggable
          p.section__description To customize your map just follow these four steps.

        div.section__map
          #example2.box__map


    section.section.section--left.clearfix
      div.wrapper
        div.section__map
          #example.box__map

        div.section__text
          h2.section__title custom map
          p.section__description To customize your map just follow these four steps.
            

    footer.footer

    script(type='text/javascript' src='https://rawgit.com/jeffersondanielss/cMap/master/dist/cMap.min.js')
    script(src='dist/scripts/all.min.js')
