*, *:before, *:after, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
  width: 100%; }

body {
  background: #FFFFFF;
  font-family: 'roboto';
  color: #7a746b; }

.bt {
  background-color: #203246;
  color: #FFF;
  padding: 10px 20px;
  margin-top: 10px;
  display: inline-block;
  float: right;
  border-radius: 5px;
  transition: .5s linear;
  position: relative; }
  .bt:hover {
    color: #FFF;
    background-color: #283f58;
    transition: .5s linear; }
  .bt:after {
    content: 'coming soon';
    position: absolute;
    bottom: -12px;
    right: 0;
    display: block;
    color: red;
    font-size: 12px;
    font-weight: bold; }

.command {
  background: #e4e4e4;
  padding: 5px;
  border-radius: 3px;
  line-height: 24px;
  word-wrap: break-word;
  margin: 10px 0;
  display: inline-block;
  font-size: 14px;
  box-shadow: 0 4px 5px #BBB;
  border: 1px solid #DDD; }

.code {
  white-space: pre-wrap;
  line-height: 18px;
  font-size: 14px;
  display: block;
  padding-left: 15px;
  border-left: 2px solid #203246; }

.wrapper {
  width: auto;
  max-width: 75%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  *zoom: 1; }
  .wrapper:before, .wrapper:after {
    content: '';
    display: table; }
  .wrapper:after {
    clear: both; }

.xmp {
  padding-left: 20px;
  display: block; }

.examples {
  width: 100%;
  height: 50%;
  float: left; }

.example__demo {
  height: 100%; }

.get-started {
  *zoom: 1;
  width: 80%;
  float: left;
  margin: 50px 10%;
  background: #FFFFFF; }
  .get-started:before, .get-started:after {
    content: '';
    display: table; }
  .get-started:after {
    clear: both; }

.get-started__title {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #203246;
  margin-bottom: 10px; }

.get-started__subtitle {
  text-align: center;
  margin-bottom: 40px; }

.content__steps-title {
  color: #203246;
  font-weight: bold;
  margin-bottom: 15px; }

.content__steps {
  float: left;
  clear: none;
  width: 31.33333%;
  margin-left: 0;
  margin-right: 3%; }
  .content__steps:last-child {
    margin-right: 0; }

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 90%; }

  .content__steps {
    width: 100%;
    margin-bottom: 60px; } }

/*# sourceMappingURL=style.css.map */
